$back_base_color: #30424A;
$front_base_color: #38535d;
$min_width: 750px;

html {
  min-width: $min_width - 200;
}

#page--index {
  margin: 0;
  background-color: #282B39;
  color: #FFF;
  header {
    display: flex;
    justify-content: center;
    background-color: $back_base_color;
  }
  .view-area {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    aside {
      background-color: $back_base_color;
      border-radius: 24px;
      width: 40%;
      height: 100vh;
      padding: 0.5rem;
      max-width: 350px;
      margin: 0.5rem;

      h2 {
        margin: 0.5rem;
      }

      section {
        background-color: $front_base_color;
        margin: 0.5rem auto;
        padding: 0.5rem;
        width: 80%;

        .svg-label {
          width: 60px;
        }

        label {
          margin-left: 2rem;
          margin-right: 0.5rem;
        }

        input {
          margin: 0.5rem 0;
          flex-grow: 5;
        }

        .btn {
          display: flex;
          justify-content: flex-end;
          margin: 0.5rem;
        }
      }
    }
    main {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      flex-grow: 5;
      .task {    
        width: 30%;
        min-width: 220px;
        height: 120px;
        border-radius: 21px;
        background-color: $back_base_color;
    
        margin: 0.5rem;
        padding: 0.5rem;
    
        input {
          margin: 0.5rem 0;
          flex-grow: 5;
        }

        .timestamp {
          display: flex;
          justify-content: flex-end;
          font-size: 0.3rem;
          color: #ddd;
        }
      }
    }
  }

  .form-column {
    width: 100%;
    display: flex;
  }

  .svg-label {
    width: 60px;
  }

  @media (max-width: $min_width) {
    .view-area {
      flex-direction: column;
      align-content: center;
      aside {
        width: 85%;
        height: inherit;
        max-width: inherit;
      }
      main {
        flex-direction: column;
        align-items: center;
        .task {
          width: 85%;
        }
      }
    }
  }
 }